[submodule "client"]
	path = client
	url = https://github.com/henryacaron/client
[submodule "eth"]
	path = eth
	url = https://github.com/henryacaron/eth
[submodule "circuits"]
	path = circuits
	url = https://github.com/darkforest-eth/circuits
[submodule "packages"]
	path = packages
	url = https://github.com/henryacaron/packages
