[submodule "client"]
	path = client
	url = https://github.com/cha0sg0d/client
[submodule "eth"]
	path = eth
	url = https://github.com/cha0sg0d/eth
[submodule "circuits"]
	path = circuits
	url = https://github.com/darkforest-eth/circuits
[submodule "packages"]
	path = packages
	url = https://github.com/dfdao/packages
